{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Joey Stempky - Home{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Education</h1>
  <div class="container">

    <h2>Theme Song</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YR5ApYxkU-U" allowfullscreen></iframe>
    </div>
    <h3>Details</h3>
      <ul>
          <li> 
            <a href="https://wmich.edu/" target="_blank">Western Michigan University</a>
            <ul>
              <li>B.S.E Industrial & Entrepreneurial Engineering</li>
              <li>Minors:  Biomedical Sciences, Math</li>
            </ul>
          </li>
          <li> 
            <a href="https://www.kalamazoopublicschools.com/LNHS" target="_blank">Loy Norrix High School</a>
          </Li>
          <Li><a href="https://www.kalamazoopublicschools.com/MapleStreet" target="_blank">South Middle School/Maple Street Magnet School for the Arts</a></Li>
          <li><a href="https://www.kalamazoopublicschools.com/Domain/20" target="_blank">Parkwood-Upjohn Elementary</a></li>
      </ul>
  </div>
  
  

</div>	
{% endblock %}