{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Joey Stempky - Home{% endblock %}

{% block page_content %}
<div class="page-header">
<h2>Employment</h2>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eIjEauGiRLo" allowfullscreen></iframe>
</div>
  <ul>
    <li><a href="https://nextekpower.com/" target="_blank">Nextek Power Systems</a>
      <ul>
        <li>Director of Manufacturing</li>
        <li>Manufacturing Engineering Manager</li>
        <li>Controls Specialist/Engineer</li>
      </ul>
    </li>
    <li><a href="https://special-lite.com/" target="_blank">Special-Lite</a>
      <ul>
        <li>Director of Manufacturing</li>
        <li>Manufacturing Engineering Manager</li>
        <li>Controls Specialist/Engineer</li>
      </ul>
    </li>
    <li><a href="https://custerinc.com/" target="_blank">Custer Inc.</a>
      <ul>
        <li>Sales and Marketing Intern</li>
      </ul>
    </li>
    <li><a href="https://www.eaton.com/us/en-us.html" target="_blank">Eaton Corporation</a>
      <ul>
        <li>Cost Management Engineering Intern</li>
      </ul>
    </li>
    <li><a href="http://www.nxtwall.com/" target="_blank">Office One/NxtWall</a>
      <ul>
        <li>Operations Associate</li>
      </ul>
    </li>
    <li><a href="https://www.finishline.com/" target="_blank">Finish Line</a>
      <ul>
        <li>Sales Associate</li>
      </ul>
    </li>
  </ul>
  
  

</div>	
{% endblock %}